In [1]:
import pandas as pd
import numpy as np
import wget
import os

In [40]:
county_data = pd.read_csv("us-counties.csv")

In [61]:
nulls = county_data[county_data.isna().any(axis=1)]

In [73]:
nulls.to_csv("nulls.csv")
# All rows where FIPS is null. This consists of (a) New York City (all reported as one unit), (b) various Unknowns. 
# See NYT documentation on geographical exceptions.

In [94]:
# Download daily data files -- did this on 5/20. Saved as .txt files in /data

for m in range(4):
    for d in range(31):
        month = str(m+2).zfill(2)
        day = str(d+1).zfill(2)
        date = "2020"+month+day
        url = "https://s3-us-west-1.amazonaws.com//files.airnowtech.org/airnow/2020/"+date+"/daily_data_v2.dat"
        try:
            wget.download(url, "./data/"+date+".txt")
            print('Downloading', date)
        except:
            print('No file for date', date)

Downloading 20200201
Downloading 20200202
Downloading 20200203
Downloading 20200204
Downloading 20200205
Downloading 20200206
Downloading 20200207
Downloading 20200208
Downloading 20200209
Downloading 20200210
Downloading 20200211
Downloading 20200212
Downloading 20200213
Downloading 20200214
Downloading 20200215
Downloading 20200216
Downloading 20200217
Downloading 20200218
Downloading 20200219
Downloading 20200220
Downloading 20200221
Downloading 20200222
Downloading 20200223
Downloading 20200224
Downloading 20200225
Downloading 20200226
Downloading 20200227
Downloading 20200228
Downloading 20200229
No file for date 20200230
No file for date 20200231
Downloading 20200301
Downloading 20200302
Downloading 20200303
Downloading 20200304
Downloading 20200305
Downloading 20200306
Downloading 20200307
Downloading 20200308
Downloading 20200309
Downloading 20200310
Downloading 20200311
Downloading 20200312
Downloading 20200313
Downloading 20200314
Downloading 20200315
Downloading 20200316
Downloading 20200317
Downloading 20200318
Downloading 20200319
Downloading 20200320
Downloading 20200321
Downloading 20200322
Downloading 20200323
Downloading 20200324
Downloading 20200325
Downloading 20200326
Downloading 20200327
Downloading 20200328
Downloading 20200329
Downloading 20200330
Downloading 20200331
Downloading 20200401
Downloading 20200402
Downloading 20200403
Downloading 20200404
Downloading 20200405
Downloading 20200406
Downloading 20200407
Downloading 20200408
Downloading 20200409
Downloading 20200410
Downloading 20200411
Downloading 20200412
Downloading 20200413
Downloading 20200414
Downloading 20200415
Downloading 20200416
Downloading 20200417
Downloading 20200418
Downloading 20200419
Downloading 20200420
Downloading 20200421
Downloading 20200422
Downloading 20200423
Downloading 20200424
Downloading 20200425
Downloading 20200426
Downloading 20200427
Downloading 20200428
Downloading 20200429
Downloading 20200430
No file for date 20200431
Downloading 20200501
Downloading 20200502
Downloading 20200503
Downloading 20200504
Downloading 20200505
Downloading 20200506
Downloading 20200507
Downloading 20200508
Downloading 20200509
Downloading 20200510
Downloading 20200511
Downloading 20200512
Downloading 20200513
Downloading 20200514
Downloading 20200515
Downloading 20200516
Downloading 20200517
Downloading 20200518
Downloading 20200519
Downloading 20200520
No file for date 20200521
No file for date 20200522
No file for date 20200523
No file for date 20200524
No file for date 20200525
No file for date 20200526
No file for date 20200527
No file for date 20200528
No file for date 20200529
No file for date 20200530
No file for date 20200531

In [138]:
# make DFs from .txt files
# date_dfs is a dictionary of DFs where keys are dates in MMDD format

# DF column values: "aqsid" = site ID, first 5 digits are FIPS code; 
# "period" = averaging period (either peak 1-hr, peak 8-hr average, or 24-hr average);
# "aqi_value" = 8-hr or 24-hr AQI value, -999 = peak 1-hr ozone or peak 24-hr SO2; "aqi_category" = 0=good etc.;
# "aqsid_full" = AQS site ID preceded by 3-digit country code

date_dfs = {}
allfiles = os.listdir('data')[1:]
for filename in allfiles:
    date = filename[4:8]
    df = pd.read_csv('data/'+filename, sep="|", header=None)
    df.columns = ["date","aqsid","sitename","parameter","units","value","period","source","aqi_value","aqi_category","latitude","longitude","aqsid_full"]
    df['fips'] = df['aqsid'].str.slice(stop=5)  # add FIPS column based on first 5 digits of AQSID
    date_dfs[date] = df

In [170]:
date_dfs['0520'] = None   # dropped today's table because it contained data from 5/18 for some reason

In [114]:
# table of FIPS codes to county/state

fips = pd.read_html('https://www.nrcs.usda.gov/wps/portal/nrcs/detail/national/home/?cid=nrcs143_013697')[0]

In [148]:
fips = fips.drop(3232) # last row was gibberish

In [154]:
fips = fips.rename(columns={"Name":"County"})

In [175]:
fips = fips.set_index('FIPS')

In [177]:
date_dfs['0519']

,date,aqsid,sitename,parameter,units,value,period,source,aqi_value,aqi_category,latitude,longitude,aqsid_full,fips
0,05/19/20,000010102,St. John's,OZONE-1HR,PPB,31.0,1,Newfoundland & Labrador DEC,-999,-999,47.652800,-52.81670,124000010102,00001
1,05/19/20,000010102,St. John's,OZONE-8HR,PPB,29.0,8,Newfoundland & Labrador DEC,27,0,47.652800,-52.81670,124000010102,00001
2,05/19/20,000010401,Mount Pearl,OZONE-1HR,PPB,30.0,1,Newfoundland & Labrador DEC,-999,-999,47.505000,-52.79470,124000010401,00001
3,05/19/20,000010401,Mount Pearl,OZONE-8HR,PPB,28.0,8,Newfoundland & Labrador DEC,26,0,47.505000,-52.79470,124000010401,00001
4,05/19/20,000010401,Mount Pearl,PM2.5-24hr,UG/M3,4.7,24,Newfoundland & Labrador DEC,20,0,47.505000,-52.79470,124000010401,00001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,05/19/20,TT9209004,Miami,PM2.5-24hr,UG/M3,2.2,24,Quapaw Nation,10,0,36.922222,-94.83889,840TT9209004,TT920
4273,05/19/20,UB1010001,Ulaanbaatar,PM2.5-24hr,UG/M3,14.3,24,U.S. Department of State Mongolia - Ulaanbaatar,56,1,47.928385,106.92947,496UB1010001,UB101
4274,05/19/20,UZB010001,Tashkent,OZONE-1HR,PPB,51.0,1,U.S. Department of State Uzbekistan - Tashkent,-999,-999,41.367200,69.27250,860UZB010001,UZB01
4275,05/19/20,UZB010001,Tashkent,OZONE-8HR,PPB,46.0,8,U.S. Department of State Uzbekistan - Tashkent,43,0,41.367200,69.27250,860UZB010001,UZB01
4276,05/19/20,UZB010001,Tashkent,PM2.5-24hr,UG/M3,22.5,24,U.S. Department of State Uzbekistan - Tashkent,73,1,41.367200,69.27250,860UZB010001,UZB01

In [ ]:
# drop non-US data
# drop unneeded columns
# make SQL database with one massive table?