In [2]:
import pandas as pd

In [71]:
file = 'county_populations_2.csv'
county_pop_orig = pd.read_csv(file, encoding = "ISO-8859-1")

In [76]:
county_pop_orig.columns = ['county','population']

In [77]:
cp2 = county_pop_orig.copy()

In [78]:
cp2['state'] = ""

In [79]:
for index, row in cp2.iterrows():
    full_county = (row['county'])   # e.g. ".Autauga County, Alabama"
    county = full_county.split(",")[0][1:-7]
    state = full_county.split(",")[1][1:]
    row['county'] = county
    row['state'] = state

In [85]:
cp2 = cp2[['county','state','population']]

In [86]:
cp2

          county    state population
0        Autauga  Alabama     55,869
1        Baldwin  Alabama    223,234
2        Barbour  Alabama     24,686
3           Bibb  Alabama     22,394
4         Blount  Alabama     57,826
...          ...      ...        ...
3137  Sweetwater  Wyoming     42,343
3138       Teton  Wyoming     23,464
3139       Uinta  Wyoming     20,226
3140    Washakie  Wyoming      7,805
3141      Weston  Wyoming      6,927

[3142 rows x 3 columns]

In [87]:
cp2.to_csv('county_populations.csv')

In [9]:
cp = pd.read_csv('county_populations.csv')

In [13]:
cp['full_county'] = cp['county'].str[:]+", "+cp['state'].str[:]

In [10]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [11]:
cp = cp.replace(to_replace=us_state_abbrev)

In [17]:
cp.to_csv('county_populations.csv')

In [18]:
data = pd.read_csv('county_data.csv')

In [19]:
data = data.replace(to_replace=us_state_abbrev)

In [20]:
data['full_county'] = data['county'].str[:]+", "+data['state'].str[:]

In [31]:
data.to_csv('county_data2.csv')

In [28]:
data['fips'] = data['fips'].str[:5]

In [35]:
del pops['Unnamed: 0']

In [33]:
pops = pd.read_csv('county_populations.csv')

In [39]:
pops['population'] = pops['population'].str.replace(",","")

In [44]:
pops['population'] = pops['population'].astype('int')

In [46]:
pops.to_csv('county_populations.csv')

In [97]:
filename = 'so_24hr'

In [98]:
df = pd.read_csv(filename+'.csv', dtype={'fips':"str"})

In [99]:
del df['Unnamed: 0']

In [100]:
months = df.date.str[8:]
days = df.date.str[5:7]

In [101]:
dates = df.date.str[:5]+months+"-"+days

In [102]:
df['date'] = dates

In [103]:
df.to_csv(filename+'2.csv')