In [1]:
# makes DF and CSV containing county, state, population (2019)
import pandas as pd

In [71]:
file = 'county_populations_2.csv'
county_pop_orig = pd.read_csv(file, encoding = "ISO-8859-1")

In [76]:
county_pop_orig.columns = ['county','population']

In [77]:
cp2 = county_pop_orig.copy()

In [78]:
cp2['state'] = ""

In [79]:
for index, row in cp2.iterrows():
    full_county = (row['county'])   # e.g. ".Autauga County, Alabama"
    county = full_county.split(",")[0][1:-7]
    state = full_county.split(",")[1][1:]
    row['county'] = county
    row['state'] = state

In [85]:
cp2 = cp2[['county','state','population']]

In [86]:
cp2

          county    state population
0        Autauga  Alabama     55,869
1        Baldwin  Alabama    223,234
2        Barbour  Alabama     24,686
3           Bibb  Alabama     22,394
4         Blount  Alabama     57,826
...          ...      ...        ...
3137  Sweetwater  Wyoming     42,343
3138       Teton  Wyoming     23,464
3139       Uinta  Wyoming     20,226
3140    Washakie  Wyoming      7,805
3141      Weston  Wyoming      6,927

[3142 rows x 3 columns]

In [87]:
cp2.to_csv('county_populations.csv')